@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply px-4 md:max-w-4xl lg:max-w-5xl xl:max-w-6xl 2xl:max-w-7xl mx-auto;
}

.main-red {
  @apply text-[#dc3545];
}

.bg-main-red {
  @apply bg-[#dc3545];
}


/* swiper */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* swiper */